@import "bootstrap/scss/bootstrap";
@import "uikit/dist/css/uikit.min.css";
@import "components/symbol";
@import "components/overlay";
@import "components/button";
@import "components/separator";
@import "components/loader";
@import "base/utility";
@import "base/gradient";
@import "material";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";

.bgi-no-repeat {
    background-repeat: no-repeat;
}

// Background positions
.bgi-position-y-top {
    background-position-y: top;
}

.bgi-position-y-bottom {
    background-position-y: bottom;
}

.bgi-position-y-center {
    background-position-y: center;
}

.bgi-position-x-start {
    background-position-x: left;
}

.bgi-position-x-end {
    background-position-x: right;
}

.bgi-position-x-center {
    background-position-x: center;
}

.bgi-position-top {
    background-position: 0 top;
}

.bgi-position-bottom {
    background-position: 0 bottom;
}

.bgi-position-center {
    background-position: center;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        // Background sizes
        .bgi-size#{$infix}-auto {
            background-size: auto;
        }

        .bgi-size#{$infix}-cover {
            background-size: cover;
        }

        .bgi-size#{$infix}-contain {
            background-size: contain;
        }

        // Background attachment
        .bgi-attachment#{$infix}-fixed {
            background-attachment: fixed;
        }

        .bgi-attachment#{$infix}-scroll {
            background-attachment: scroll;
        }
    }
}

.img-hover-zoom {
    height: auto;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.05);
}

.bgi-hoverable {
    height: auto;
    overflow: hidden;
    transition: transform .5s ease;
}

.bgi-hoverable:hover {
    transform: scale(1.05);
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 50px;
    height: auto;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #146aef;
    font-weight: bolder;
}

.bg-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 3rem 3rem;
}

.fs-strike {
    text-decoration: line-through;
}

.fs-strike .strike-danger {
    text-decoration-color: #e93434;
}

.shadow-box {
    -webkit-box-shadow: 0px 5px 21px 12px rgba(0, 0, 0, 0.63), inset 0px 5px 21px 12px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 5px 21px 12px rgba(0, 0, 0, 0.63), inset 0px 5px 21px 12px rgba(0, 0, 0, 0.21);
}

.gradient-wave {
    overflow: auto;
    background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

.rounded {
    border-radius: 0.375rem;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: end;
    padding: 0;
    margin-right: 5%;
    /* margin-bottom: 1rem; */
    margin-left: 15%;
}

.news {
    .news-block:nth-child(2n+6) {
        width: 450px !important;
    }
}

.container .parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid .parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-hoverable:hover, .img-hoverable:focus {
    opacity: 0.5;
    transform: scale(1.2);
    transition: all .5s;
}

@for $i from 1 through 5 {
    .rounded-#{$i} {
        border-radius: $i * 0.375rem !important;
    }
}

@for $i from 5 through 100 {
    .h-#{$i} {
        height: #{$i} !important;
    }
    .w-#{$i} {
        width: #{$i} !important;
    }
}

@for $i from 5 through 1000 {
    .h-#{$i}px {
        height: #{$i}px !important;
    }
    .w-#{$i}px {
        width: #{$i}px !important;
    }
}

@for $i from 20 through 100 {
    .p-#{$i} {
        padding: $i * 0.25rem !important;
    }

    .pt-#{$i} {
        padding-top: $i * 0.25rem !important;
    }

    .pb-#{$i} {
        padding-bottom: $i * 0.25rem !important;
    }

    .pe-#{$i} {
        padding-right: $i * 0.25rem !important;
    }

    .ps-#{$i} {
        padding-left: $i * 0.25rem !important;
    }

    .py-#{$i} {
        padding-top: $i * 0.25rem !important;
        padding-bottom: $i * 0.25rem !important;
    }

    .px-#{$i} {
        padding-left: $i * 0.25rem !important;
        padding-right: $i * 0.25rem !important;
    }
}

@for $i from 20 through 100 {
    .m-#{$i} {
        padding: $i * 0.25rem !important;
    }

    .mt-#{$i} {
        padding-top: $i * 0.25rem !important;
    }

    .mb-#{$i} {
        padding-bottom: $i * 0.25rem !important;
    }

    .me-#{$i} {
        padding-right: $i * 0.25rem !important;
    }

    .ms-#{$i} {
        padding-left: $i * 0.25rem !important;
    }

    .my-#{$i} {
        padding-top: $i * 0.25rem !important;
        padding-bottom: $i * 0.25rem !important;
    }

    .mx-#{$i} {
        padding-left: $i * 0.25rem !important;
        padding-right: $i * 0.25rem !important;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes wave {
    2% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(0);
    }
}
