.btn-hoverable:hover {
    border: solid 2px $primary !important;
}

.btn-facebook {
    background-color: #4867AA !important;
}

.btn-twitter {
    background-color: #00B2EF !important;
}

.btn-youtube {
    background-color: #FF0000 !important;
}
