.hr {
    margin: 24px 0 40px;
    height: 3px;
    border-radius: 1.5px;
    width: 50%;

    &::before {
        flex: 1 1 0%;
        background: linear-gradient(90deg, #7bb1ff, #7bb1ff, #a6aaff, #f1b9f3, #9dfdfd);
    }

    &::after {
        flex: 0 0 auto;
        margin-left: 6px;
        width: 12px;
    }

    &::before, &::after {
        content: "";
        display: block;
        border-radius: inherit;
        height: 100%;
    }
}
