//
// symbol
//
@mixin symbol-size($size) {
    > img {
        width: $size;
        height: $size;
    }

    .symbol-label {
        width: $size;
        height: $size;
    }

    &.symbol-fixed {
        .symbol-label {
            width: $size;
            height: $size;
        }

        > img {
            width: $size;
            height: $size;
            max-width: none;
        }
    }

    // Ratios
    &.symbol-2by3 {
        .symbol-label {
            height: $size;
            width:  $size * divide(3, 2);
        }

        > img {
            height: $size;
            width:  $size * divide(3, 2);
            max-width: none;
        }
    }
}
$border-radius: 0.75rem;
// Base
.symbol {
    display: inline-block;;
    flex-shrink: 0;
    position: relative;
    @include border-radius($border-radius);

    // Label
    .symbol-label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: #0a53be;
        background-color: rgba(10, 83, 190, 0.1);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        @include border-radius($border-radius);

        &:after {
            @include border-radius($border-radius);
        }
    }

    // Badge
    .symbol-badge {
        position: absolute;
        border-radius: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) !important;
    }

    // Image
    > img {
        width: 100%;
        flex-shrink: 0;
        display: inline-block;
        @include border-radius($border-radius);
    }

    // Square
    &.symbol-square {
        &,
        > img,
        .symbol-label {
            border-radius: 0 !important;
        }
    }

    // Circle
    &.symbol-circle {
        &,
        > img,
        .symbol-label {
            border-radius: 50%;

            &:after {
                border-radius: 50%;
            }
        }
    }

    // Sizes
    @for $i from 10 through 250 {
        $size: #{$i};
        .symbol-#{$i}px {
            > img {
                width: #{$i}px;
                height: #{$i}px;
            }

            .symbol-label {
                width: #{$i}px;
                height: #{$i}px;
            }
            &.symbol-fixed {
                .symbol-label {
                    width: #{$i}px;
                    height: #{$i}px;
                }

                > img {
                    width: #{$i}px;
                    height: #{$i}px;
                    max-width: none;
                }
            }

            &.symbol-2by3 {
                .symbol-label {
                    height: #{$i};
                    width: calc($size * divide(3,2));
                }

                > img {
                    height: #{$i};
                    width:  calc($size * divide(3,2));
                    max-width: none;
                }
            }
        }

    }
}

// Group
.symbol-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;

    .symbol {
        position: relative;
        z-index: 0;
        margin-left: -10px;
        transition: all 0.3s ease;

        &:hover {
            transition: all 0.3s ease;
            z-index: 1;
        }
    }

    .symbol-badge {
        border: 2px solid var(--#{$prefix}body-bg);
    }

    .symbol-label {
        position: relative;

        &:after {
            display: block;
            content: " ";
            border-radius: inherit;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border: 2px solid var(--#{$prefix}symbol-border-color);
            -webkit-background-clip: padding-box; /* for Safari */
            background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
        }
    }

    &.symbol-hover {
        .symbol {
            cursor: pointer;
        }
    }
}
