$gradient-blue: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(5,70,187,1) 63%, rgba(0,212,255,1) 100%);
$gradient-amber: linear-gradient(20deg, rgba(36,13,0,1) 0%, rgba(121,46,9,1) 27%, rgba(187,102,5,1) 63%, rgba(255,149,0,1) 100%);
$gradient-dark-blue: linear-gradient(20deg, rgb(5, 0, 0) 0%, rgba(7,5,69,1) 52%, rgb(24, 0, 79) 100%);

.bg-gradient-blue {
    background: rgb(2,0,36);
    background: $gradient-blue
}

.bg-gradient-amber {
    background: rgb(36,13,0);
    background: $gradient-amber
}

.bg-gradient-dark-blue {
    background: rgb(36,13,0);
    background: $gradient-dark-blue
}

.text-gradient-blue {
    background: $gradient-blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


